@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

body {
  color: white;
  font-family: "Nunito" ,sans-serif;
  background-color: rgb(40, 40, 40);
}
